*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.ap_
*.aab
equalizer314-option-c-implementation.md
Equalizer314/
CLAUDE.md
